<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Weather Bit Suite">
    <test name = "Weather Bit"  parallel="methods" thread-count="1">
        <classes>
            <class name = "com.weatherbit.Runner.Runner"/>
        </classes>
    </test>
</suite>